body
  background-color: #e9ebee !important

  .publicPage
    margin: 0 auto
    max-width: 100%
    @media (min-width: 576px) and (max-width: 767px)
      max-width: 540px
    @media (min-width: 768px) and (max-width: 991px)
      max-width: 720px
    @media (min-width: 992px) and (max-width: 1199px)
      max-width: 960px
    @media (min-width: 1200px)
      max-width: 1140px

  .publicContainer
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    grid-column-gap: 10px
    grid-row-gap: 10px
    padding: 5px
    @media (min-width: 576px) and (max-width: 767px)
      grid-template-columns: 1fr 1fr
    @media (min-width: 768px) and (max-width: 991px)
      grid-template-columns: 1fr 1fr 1fr
    @media (min-width: 992px) and (max-width: 1199px)
      grid-template-columns: 1fr 1fr 1fr 1fr
    @media (min-width: 1200px)
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr

    a
      text-decoration: none

    .publicCard
      height: 200px
      max-width: 100%
      background-color: white
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px
      border-radius: 5px
      padding: 5px
      color: black

    .publicCardDisable
      background-color: #a3a3a3

  .publicBlock
    padding-top: 5px
    padding-bottom: 5px
